<header class="top">
    <h1 class="name"><strong>Bienvenido: </strong> <%= user.local.name%> <%= user.local.lastname %></h1>
    <div class="options">
        <a href="/profile/client" class="btn btn-light btn-sm" id="buttom1">
            <strong>Consultar Usuarios <i class="fas fa-search"></i></strong>
        </a>
        <a href="/profile/register" class="btn btn-light btn-sm" id="buttom1">
            <strong>Registrar usuario <i class="fas fa-user-plus"></i></strong>
        </a>
        <a href="/logout" class="btn btn-light btn-sm" id="buttom">
            <strong>Cerrar Sesion <i class="far fa-times-circle"></i></strong>
        </a>
    </div>
</header>