<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Node</title>
    <% include partials/header %>
</head>
<body>
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1><span class="fa fa-lock"></span> Ingresa o Registrate</h1>
                <a class="btn btn-primary" href="/login">
                    <span class="fa fa-user"></span> Ingresar
                </a>
                <a class="btn btn-primary" href="/signup">
                    <span class="fa fa-user"></span> Registrate
                </a>
            </div>
        </div>    
    </div>
</body>
</html>