.login{
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.signup{
    background: #000428;
    background: -webkit-linear-gradient(to right,#004e92,#000428);
    background: linear-gradient(to right,#004e92,#000428);
}

.signup .container .card{
    background: #3643be
}

.signup .container a{
    color: yellow;
}

.forgot{
    background: #56ab2f; 
    background: -webkit-linear-gradient(to right, #004e92, #56ab2f);
    background: linear-gradient(to right, #004e92, #56ab2f);
}

.forgot .container .card{
    background: #a8e063; 
    background: -webkit-linear-gradient(to right, #b3ee83, #a8e063);
    background: linear-gradient(to right, #b3ee83, #a8e063);
    -webkit-box-shadow: 30px 10px 5px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 30px 10px 5px 0px rgba(0,0,0,0.44);
    box-shadow: 30px 10px 5px 0px rgba(0,0,0,0.44);
}
.forgot .container .card #footer{
    background: #aff855; 
    background: -webkit-linear-gradient(to right, #aff855, #8ec945);
    background: linear-gradient(to right, #aff855, #8ec945);
    
}
.forgot .container .card #footer a {
    color: blue;
}

.top{
    background: #56ab2f;
    color: white;
    border: 2px solid #397a1b;
    border-radius: 50px 50px;
    margin-top: 10px;
    height: 60px;
    align-items: center;
    display: flex;
}

.top .name{
    float: left;
    font-size: 20px;
    margin-left: 15px;
}

.top .options{
    margin-left: auto;
    margin-right: 10px;
}

.top .options #buttom{
    background: #56ab2f;
    color: white;
    border: 2px solid #397a1b;
    border-radius: 50px 50px;
    font-size: 10;
}

.top .options #buttom:hover{
    background: red;
    border: 2px solid rgb(182, 2, 2);
}

.top .options #buttom1{
    background: #56ab2f;
    color: white;
    border: 2px solid #397a1b;
    border-radius: 50px 50px;
    font-size: 10;
}

.top .options #buttom1:hover{
    background: rgb(4, 0, 255);
    border: 2px solid rgb(4, 1, 172);
}

